*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url("../images/bg.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    margin: 140px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: 350px;
    border: 2px solid gray;
}
input{
    width: 19rem;
    padding: 10px 30px;
    background: none;
    font-weight: 600;
    border: 2px solid gray;
    border-radius: 20px;
    margin-bottom: 20px;
}
button{
    padding: 8px 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 2px solid gray;
    background: none;
    transition: 1s;
}
button:hover{
    background: rgba(3, 181, 252, 0.781);
    border: 2px solid rgba(12, 78, 163, 0.781);
}
a{
    color: rgb(71, 71, 241);
    text-decoration: none;
}